@use "styles" as *;

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
}

.iconLabelCnt {
  display: flex;
  user-select: none;
  gap: 5px;
  align-items: center;
}

.icon {
  transition: rotate 0.2s ease;
  cursor: pointer;
}

.label {
  color: $color-yellow-default;
  cursor: pointer;
  font-size: 24px;
}

.icon {
  position: relative;
  top: 2px;
  left: 5px;
}
