@use "styles" as *;

.groupedQuizez {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 40px 50px 110px 50px;
}

.titleListCnt {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: $fw-medium;
  font-size: 32px;
  margin-bottom: 20px;
}

.button {
  height: 37px;
  font-size: 18px;
  position: absolute;
  right: 52px;
  top: 19px;
}
