@use "styles" as *;

.loginPage {
  display: flex;
  flex-direction: row;
  height: 100svh;
}

.loginLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 50%;
  gap: 40px;
}

.loginRight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: $color-white-f4;
}

.titleDescCnt {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.desc {
  font-size: 22px;
  text-align: center;
  color: $color-black-default;
}

.img {
  width: 50%;
  height: 50%;
}
