@use "styles" as *;

.optionsContainer {
  position: absolute;
  background-color: $color-white-default;
  left: 5px;
  z-index: 40;
  top: 100%;
  display: flex;
  flex-direction: column;
  width: 280px;
  border-radius: 20px;
  padding: 5px;
  font-size: 15px;
  box-shadow: 0px 5px 25px 2px rgba(34, 60, 80, 0.2);
  width: 100%;
}

.option {
  transition: background-color 0.3s ease;
  padding: 5px 0 5px 10px;
  border-radius: 10px;
  font-size: 18px;
}

.option:hover {
  background-color: $color-grey-link;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
