$color-black-default: #333333;
$color-white-default: #fff;
$color-white-f4: #f4f4f4;

$color-grey-link: #e0e0e0;
$color-grey-ece8: #ecece8;
$color-grey-background: #f3f2f2;
$color-grey-82: #828282;

$color-yellow-default: #fcc822;
$color-grey-default: #c1bbbb;
$color-red-error: red;
$color-yellow-placeholder: #fcc922bb;
$color-yellow-dropdown: #ffd653;
