@use "styles" as *;

.header {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
  padding: 20px 51px 0 51px;
  width: 100%;
}

.line {
  background: $color-grey-ece8;
  height: 1px;
}

.titleLinks {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}

.linksRow {
  display: flex;
  gap: 40px;
}

.button {
  width: 100px;
}

.linksBtns {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 40px;
}

.loginBtn {
  box-shadow: none;
}
