@use "styles" as *;

.link {
  font-size: 24px;
  display: flex;
  width: fit-content;
  height: fit-content;
}

.nav {
  color: $color-grey-link;
  transition: color 0.3s ease;
  user-select: none;
  &:hover {
    color: $color-black-default;
    transition: color 0.3s ease;
  }
}

.black {
  color: $color-black-default;
  &:hover {
    text-decoration: underline;
  }
}

.button {
}
